{
  "openapi": "3.0.1",
  "info": {
    "title": "Checkout.com API Reference ABC",
    "description": "## Get started\nCheckout.com provides a collection of APIs that enable you to process and manage payments. Our APIs accept and return JSON in the HTTP body, and return standard <a href=\"https://www.checkout.com/docs/resources/codes/http-response-codes\">HTTP response codes</a>.\nYou can consume the APIs directly using your favorite HTTP/REST library or make use of one of our <a href=\"https://www.checkout.com/docs/integrate/sdks\" target=\"_blank\">SDKs</a>.\nWe have a testing environment called sandbox, which you can <a href=\"https://www.checkout.com/get-test-account\">sign up for</a> to test API calls without affecting live data.\n### Base URLs\nUse the following base URLs when making requests to the APIs:\n\n  | Environment   |      Base URL                                        |\n  |---------------|------------------------------------------------------|\n  | Sandbox       |  https://api.sandbox.checkout.com/                   |\n  | Production    |  https://api.checkout.com/                           |\n\n### Looking for more guidance?\nDepending on what integration you need, we've provided <a href=\"https://www.checkout.com/docs/integrate/\">guides to get you set up</a>.\n### Not using APIs?\nWe've partnered with many popular <a href=\"https://www.checkout.com/docs/integrate/e-commerce-platforms\">e-commerce platforms</a> so you can get up and running quickly, processing online payments with one of our e-commerce plugins.\n# Authentication\nWhen you sign up for an account, you are given a secret and public API key pair. You authenticate with our API by providing the appropriate key in the request Authorization header.\nNever share your secret keys. Keep them guarded and secure.\n",
    "termsOfService": "https://checkout.com/terms/",
    "contact": {
      "name": "Checkout.com Support",
      "url": "https://checkout.com",
      "email": "support@checkout.com"
    },
    "license": {
      "name": "Checkout.com",
      "url": "https://checkout.com/api/license/"
    },
    "version": "1.0.0",
    "x-logo": {
      "url": "https://assets.checkout.com/docs/logos/logo-checkout-api-dark.svg",
      "altText": "Checkout.com API logo"
    }
  },
  "servers": [
    {
      "url": "https://api.sandbox.checkout.com",
      "description": "Sandbox API"
    },
    {
      "url": "https://api.checkout.com",
      "description": "Live API"
    }
  ],
  "paths": {
    "/customers": {
      "post": {
        "tags": [
          "Customers"
        ],
        "summary": "Create a customer",
        "description": "<a href=\"https://www.checkout.com/docs/payments/store-payment-details/customers\" target=\"_blank\">Store a customer's details in a customer object to reuse in future payments</a>. Link a payment instrument using the Update customer details endpoint, so the customer `id` returned can be passed as a source when making a payment.\n",
        "operationId": "createCustomer",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Customer created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerCreateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiSecretKey": [ ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Common;\nusing CustomerRequest = Checkout.Customers.CustomerRequest;\n\nICheckoutApi api = CheckoutSdk.DefaultSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\nCustomerRequest request = new CustomerRequest\n{\n    Email = \"email@docs.checkout.com\",\n    Name = \"FirstName LastName\",\n    Phone = new Phone\n    {\n        CountryCode = \"1\",\n        Number = \"4155552671\"\n    },\n    Metadata = new Dictionary<string, object>()\n    {\n        {\"coupon_code\", \"NY2018\"},\n        {\"partner_id\", \"123989\"}\n    }\n};\n\ntry\n{\n    IdResponse response = await api.CustomersClient().Create(request);\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
          },
          {
            "lang": "Java",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApi;\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.common.IdResponse;\nimport com.checkout.common.Phone;\nimport com.checkout.customers.CustomerRequest;\n\nCheckoutApi api = CheckoutSdk.defaultSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\nCustomerRequest request = CustomerRequest.builder()\n    .email(\"email@docs.checkout.com\")\n    .name(\"name\")\n    .phone(Phone.builder().countryCode(\"1\").number(\"415 555 2671\").build())\n    .build();\n\ntry {\n    IdResponse response = api.customersClient().create(request).get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\nint statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
          },
          {
            "lang": "Node",
            "source": "import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\ntry {\n\tconst customerResponse = await cko.customers.create({\n\t\temail: 'JohnTest@test.com',\n\t\tname: 'John Test',\n\t\tphone: {\n\t\t\tcountry_code: '+1',\n\t\t\tnumber: '4155552671',\n\t\t},\n\t\tmetadata: {\n\t\t\tcoupon_code: 'NY2018',\n\t\t\tpartner_id: 123989,\n\t\t},\n\t});\n} catch (err) {\n\tconsole.log(err.name);\n}"
          },
          {
            "lang": "PHP",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-php\n<?php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutDefaultSdk;\nuse Checkout\\Common\\Phone;\nuse Checkout\\Customers\\CustomerRequest;\nuse Checkout\\Environment;\n\n$builder = CheckoutDefaultSdk::staticKeys();\n$builder->setPublicKey(\"public_key\");\n$builder->setSecretKey(\"secret_key\");\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\n$phone = new Phone();\n$phone->country_code = \"1\";\n$phone->number = \"4155552671\";\n\n$customerRequest = new CustomerRequest();\n$customerRequest->email = \"email@docs.checkout.com\";\n$customerRequest->name = \"name\";\n$customerRequest->phone = $phone;\n\ntry {\n    $response = $api->getCustomersClient()->create($customerRequest);\n} catch (CheckoutApiException $e) {\n    // API error\n    $request_id = $e->request_id;\n    $http_status_code = $e->http_status_code;\n    $error_details = $e->error_details;\n} catch (CheckoutArgumentException $e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
          }
        ]
      }
    },
    "/customers/{identifier}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get customer details",
        "description": "Returns details of a customer and their instruments",
        "operationId": "getCustomerDetails",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "The customer's ID or email",
            "required": true,
            "schema": {
              "type": "string",
              "oneOf": [
                {
                  "required": [
                    "id"
                  ]
                },
                {
                  "required": [
                    "email"
                  ]
                }
              ],
              "properties": {
                "id": {
                  "pattern": "^(cus)_(\\w{26})$",
                  "type": "string"
                },
                "email": {
                  "maxLength": 255,
                  "type": "string",
                  "format": "email"
                }
              },
              "additionalProperties": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer retrieved successfully",
            "headers": {
              "Cko-Request-Id": {
                "schema": {
                  "$ref": "#/components/headers/Cko-Request-Id"
                }
              },
              "Cko-Version": {
                "schema": {
                  "$ref": "#/components/headers/Cko-Version"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerGetResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Customer not found"
          }
        },
        "security": [
          {
            "ApiSecretKey": [ ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-net\n\nICheckoutApi api = CheckoutSdk.DefaultSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\ntry\n{\n    await api.CustomersClient().Get(\"customer_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
          },
          {
            "lang": "Java",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApi;\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.customers.CustomerDetailsResponse;\n\nCheckoutApi api = CheckoutSdk.defaultSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\ntry {\n    CustomerDetailsResponse response = api.customersClient().get(\"customer_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
          },
          {
            "lang": "Node",
            "source": "import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\ntry {\n\tconst customerResponse = await cko.customers.get('cus_2tvaccfvs3lulevzg42vgyvtdq');\n} catch (err) {\n\tconsole.log(err.name);\n}"
          },
          {
            "lang": "PHP",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-php\n<?php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutDefaultSdk;\nuse Checkout\\Environment;\n\n$builder = CheckoutDefaultSdk::staticKeys();\n$builder->setPublicKey(\"public_key\");\n$builder->setSecretKey(\"secret_key\");\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\ntry {\n    $response = $api->getCustomersClient()->get(\"customer_id\");\n} catch (CheckoutApiException $e) {\n    // API error\n    $request_id = $e->request_id;\n    $http_status_code = $e->http_status_code;\n    $error_details = $e->error_details;\n} catch (CheckoutArgumentException $e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
          }
        ]
      },
      "patch": {
        "tags": [
          "Customers"
        ],
        "summary": "Update customer details",
        "description": "Update details of a customer",
        "operationId": "updateCustomerDetails",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "The customer id",
            "required": true,
            "schema": {
              "pattern": "^(cus)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Customer updated successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Invalid data was sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found"
          }
        },
        "security": [
          {
            "ApiSecretKey": [ ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-net\n\nICheckoutApi api = CheckoutSdk.DefaultSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\nCustomerRequest request = new CustomerRequest\n{\n    Email = \"email@docs.checkout.com\",\n    Name = \"FirstName LastName\",\n    Phone = new Phone\n    {\n        CountryCode = \"1\",\n        Number = \"4155552671\"\n    },\n    Metadata = new Dictionary<string, object>()\n    {\n        {\"coupon_code\", \"NY2018\"},\n        {\"partner_id\", \"123989\"}\n    }\n};\n\ntry\n{\n    await api.CustomersClient().Update(\"customer_id\", request);\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
          },
          {
            "lang": "Java",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApi;\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.common.Phone;\nimport com.checkout.customers.CustomerRequest;\n\nCheckoutApi api = CheckoutSdk.defaultSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\nCustomerRequest request = CustomerRequest.builder()\n    .email(\"email@docs.checkout.com\")\n    .name(\"name\")\n    .phone(Phone.builder().countryCode(\"1\").number(\"415 555 2671\").build())\n    .build();\n\ntry {\n    api.customersClient().update(\"customer_id\", request).get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
          },
          {
            "lang": "Node",
            "source": "import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\ntry {\n\tconst customerResponse = await cko.customers.update('cus_2tvaccfvs3lulevzg42vgyvtdq', {\n\t\tname: 'James Bond',\n\t});\n} catch (err) {\n\tconsole.log(err.name);\n}"
          },
          {
            "lang": "PHP",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-php\n<?php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutDefaultSdk;\nuse Checkout\\Common\\Phone;\nuse Checkout\\Customers\\CustomerRequest;\nuse Checkout\\Environment;\n\n$builder = CheckoutDefaultSdk::staticKeys();\n$builder->setPublicKey(\"public_key\");\n$builder->setSecretKey(\"secret_key\");\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\n$phone = new Phone();\n$phone->country_code = \"1\";\n$phone->number = \"4155552671\";\n\n$customerRequest = new CustomerRequest();\n$customerRequest->email = \"email@docs.checkout.com\";\n$customerRequest->name = \"name\";\n$customerRequest->phone = $phone;\n\ntry {\n    $api->getCustomersClient()->update(\"customer_id\", $customerRequest);\n} catch (CheckoutApiException $e) {\n    // API error\n    $request_id = $e->request_id;\n    $http_status_code = $e->http_status_code;\n    $error_details = $e->error_details;\n} catch (CheckoutArgumentException $e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
          }
        ]
      },
      "delete": {
        "tags": [
          "Customers"
        ],
        "summary": "Delete a customer",
        "description": "Delete a customer and all of their linked payment instruments",
        "operationId": "deleteCustomerDetails",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "description": "The customer id",
            "required": true,
            "schema": {
              "pattern": "^(cus)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Customer deleted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Customer not found or not associated with client"
          }
        },
        "security": [
          {
            "ApiSecretKey": [ ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-net\n\nICheckoutApi api = CheckoutSdk.DefaultSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\ntry\n{\n    await api.CustomersClient().Delete(\"customer_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
          },
          {
            "lang": "Java",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApi;\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\n\nCheckoutApi api = CheckoutSdk.defaultSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\ntry {\n    api.customersClient().delete(\"customer_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n    } catch (CheckoutArgumentException e) {\n    // Bad arguments\n    } catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
          },
          {
            "lang": "Node",
            "source": "import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\ntry {\n\tconst customerResponse = await cko.customers.delete('cus_zbgrqmm6s5ne7lszegj5iu4lci');\n} catch (err) {\n\tconsole.log(err.name);\n}"
          },
          {
            "lang": "PHP",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-php\n<?php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutDefaultSdk;\nuse Checkout\\Environment;\n\n$builder = CheckoutDefaultSdk::staticKeys();\n$builder->setPublicKey(\"public_key\");\n$builder->setSecretKey(\"secret_key\");\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\ntry {\n    $api->getCustomersClient()->delete(\"customer_id\");\n} catch (CheckoutApiException $e) {\n    // API error\n    $request_id = $e->request_id;\n    $http_status_code = $e->http_status_code;\n    $error_details = $e->error_details;\n} catch (CheckoutArgumentException $e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
          }
        ]
      }
    },
    "/disputes": {
      "get": {
        "tags": [
          "Disputes"
        ],
        "summary": "Get disputes",
        "description": "Returns a list of all disputes against your business. The results will be returned in reverse chronological order, showing the last modified dispute (for example, where you've recently added a piece of evidence) first. You can use the optional parameters below to skip or limit results.",
        "operationId": "getDisputes",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The numbers of results to return",
            "schema": {
              "maximum": 250,
              "minimum": 1,
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "The number of results to skip",
            "schema": {
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "The date and time from which to filter disputes, based on the dispute's `last_update` field",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "The date and time until which to filter disputes, based on the dispute's `last_update` field",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "The unique identifier of the dispute",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "One or more comma-separated statuses. This works like a logical *OR* operator",
            "schema": {
              "type": "string",
              "example": "evidence_required,evidence_under_review"
            }
          },
          {
            "name": "payment_id",
            "in": "query",
            "description": "The unique identifier of the payment",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payment_reference",
            "in": "query",
            "description": "An optional reference (such as an order ID) that you can use later to identify the payment. Previously known as `TrackId`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payment_arn",
            "in": "query",
            "description": "The acquirer reference number (ARN) that you can use to query the issuing bank",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "this_channel_only",
            "in": "query",
            "description": "If `true`, only returns disputes of the specific channel that the secret key is associated with. Otherwise, returns all disputes for that business",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disputes retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisputePaged"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable paging",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagingError"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiSecretKey": [ ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Disputes;\n\nICheckoutApi api = CheckoutSdk.DefaultSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\nDisputesQueryFilter request = new DisputesQueryFilter\n{\n    Limit = 250,\n    To = DateTime.Now,\n};\n\ntry\n{\n    DisputesQueryResponse response = await api.DisputesClient().Query(request);\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
          },
          {
            "lang": "Java",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApi;\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.disputes.DisputeStatus;\nimport com.checkout.disputes.DisputesQueryFilter;\nimport com.checkout.disputes.DisputesQueryResponse;\n\nCheckoutApi api = CheckoutSdk.defaultSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\nDisputesQueryFilter query = DisputesQueryFilter.builder()\n    .paymentId(\"payment_id\")\n    .from(LocalDateTime.now().minusYears(2).toInstant(ZoneOffset.UTC).toString())\n    .to(LocalDateTime.now().toString())\n    .paymentArn(\"payment_arn\")\n    .paymentReference(\"payment_reference\")\n    .statuses(String.join(\",\", DisputeStatus.EVIDENCE_REQUIRED.getStatus(), DisputeStatus.ACCEPTED.getStatus()))\n    .limit(10)\n    .skip(5)\n    .build();\n\ntry {\n    DisputesQueryResponse response = api.disputesClient().query(query).get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
          },
          {
            "lang": "Node",
            "source": "import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst disputes = await cko.disputes.get({\n\tlimit: 5,\n\tid: 'dsp_bc94ebda8d275i461229',\n});"
          },
          {
            "lang": "PHP",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-php\n<?php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutDefaultSdk;\nuse Checkout\\Disputes\\DisputesQueryFilter;\nuse Checkout\\Environment;\n\n\n$builder = CheckoutDefaultSdk::staticKeys();\n$builder->setPublicKey(\"public_key\");\n$builder->setSecretKey(\"secret_key\");\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\n$query = new DisputesQueryFilter();\n$query->payment_id = \"payment_id\";\n$query->payment_arn = \"payment_arn\";\n$query->payment_reference = \"payment_reference\";\n$query->statuses = \"comma,separated,list,statuses\";\n$query->limit = 10;\n$query->skip = 5;\n$query->to = new DateTime(); // UTC, now\n\n$from = new DateTime();\n$from->setTimezone(new DateTimeZone(\"America/Mexico_City\"));\n$from->sub(new DateInterval(\"P1Y\"));\n$query->from = $from;\n\ntry {\n    $response = $api->getDisputesClient()->query($query);\n} catch (CheckoutApiException $e) {\n    // API error\n    $request_id = $e->request_id;\n    $http_status_code = $e->http_status_code;\n    $error_details = $e->error_details;\n} catch (CheckoutArgumentException $e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
          }
        ]
      }
    },
    "/disputes/{dispute_id}": {
      "get": {
        "tags": [
          "Disputes"
        ],
        "summary": "Get dispute details",
        "description": "Returns all the details of a dispute using the dispute identifier.",
        "operationId": "getDisputeDetails",
        "parameters": [
          {
            "name": "dispute_id",
            "in": "path",
            "description": "The dispute identifier",
            "required": true,
            "schema": {
              "pattern": "^(dsp)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dispute retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispute"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Dispute not found"
          }
        },
        "security": [
          {
            "ApiSecretKey": [ ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Disputes;\n\nICheckoutApi api = CheckoutSdk.DefaultSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\ntry\n{\n    DisputeDetailsResponse response = await api.DisputesClient().GetDisputeDetails(\"disputes_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
          },
          {
            "lang": "Java",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApi;\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.disputes.DisputeDetailsResponse;\n\nCheckoutApi api = CheckoutSdk.defaultSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\ntry {\n    DisputeDetailsResponse response = api.disputesClient().getDisputeDetails(\"dispute_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n// Bad arguments\n} catch (CheckoutAuthorizationException e) {\n// Invalid authorization\n}"
          },
          {
            "lang": "Node",
            "source": "import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst disputeDetails = await cko.disputes.getDetails('dsp_bc94ebda8d275i461229');"
          },
          {
            "lang": "PHP",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-php\n<?php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutDefaultSdk;\nuse Checkout\\Environment;\n\n$builder = CheckoutDefaultSdk::staticKeys();\n$builder->setPublicKey(\"public_key\");\n$builder->setSecretKey(\"secret_key\");\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\ntry {\n    $response = $api->getDisputesClient()->getDisputeDetails(\"dispute_id\");\n} catch (CheckoutApiException $e) {\n    // API error\n    $request_id = $e->request_id;\n    $http_status_code = $e->http_status_code;\n    $error_details = $e->error_details;\n} catch (CheckoutArgumentException $e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
          }
        ]
      }
    },
    "/disputes/{dispute_id}/accept": {
      "post": {
        "tags": [
          "Disputes"
        ],
        "summary": "Accept dispute",
        "description": "If a dispute is legitimate, you can choose to accept it. This will close it for you and remove it from your list of open disputes. There are no further financial implications.",
        "operationId": "acceptDispute",
        "parameters": [
          {
            "name": "dispute_id",
            "in": "path",
            "description": "The dispute identifier",
            "required": true,
            "schema": {
              "pattern": "^(dsp)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Dispute accepted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Dispute not found"
          }
        },
        "security": [
          {
            "ApiSecretKey": [ ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-net\n\nICheckoutApi api = CheckoutSdk.DefaultSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\ntry\n{\n    await api.DisputesClient().Accept(\"disputes_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
          },
          {
            "lang": "Java",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApi;\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\n\nCheckoutApi api = CheckoutSdk.defaultSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\ntry {\n    api.disputesClient().accept(\"dispute_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}\n"
          },
          {
            "lang": "Node",
            "source": "import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst accept = await cko.disputes.accept('dsp_bc94ebda8d275i461229');"
          },
          {
            "lang": "PHP",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-php\n<?php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutDefaultSdk;\nuse Checkout\\Environment;\n\n$builder = CheckoutDefaultSdk::staticKeys();\n$builder->setPublicKey(\"public_key\");\n$builder->setSecretKey(\"secret_key\");\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\ntry {\n    $api->getDisputesClient()->accept(\"dispute_id\");\n} catch (CheckoutApiException $e) {\n    // API error\n    $request_id = $e->request_id;\n    $http_status_code = $e->http_status_code;\n    $error_details = $e->error_details;\n} catch (CheckoutArgumentException $e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}\n"
          }
        ]
      }
    },
    "/disputes/{dispute_id}/evidence": {
      "put": {
        "tags": [
          "Disputes"
        ],
        "summary": "Provide dispute evidence",
        "description": "Adds supporting evidence to a dispute. Before using this endpoint, you first need to [upload your files](#tag/Disputes/paths/~1files/post) using the file uploader. You will receive a file id (prefixed by `file_`) which you can then use in your request.\nNote that this only attaches the evidence to the dispute, it does not send it to us. Once ready, you will need to submit it.\n\n**You must provide at least one evidence type in the body of your request.**\n",
        "operationId": "provideDisputeEvidence",
        "parameters": [
          {
            "name": "dispute_id",
            "in": "path",
            "description": "The dispute identifier",
            "required": true,
            "schema": {
              "pattern": "^(dsp)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProvideEvidenceRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Dispute evidence provided successfully"
          },
          "400": {
            "description": "Unprocessable"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Dispute not found"
          },
          "422": {
            "description": "Unprocessable entity"
          }
        },
        "security": [
          {
            "ApiSecretKey": [ ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Disputes;\n\nICheckoutApi api = CheckoutSdk.DefaultSdk().StaticKeys()\n\t.PublicKey(\"public_key\")\n\t.SecretKey(\"secret_key\")\n\t.Environment(Environment.Sandbox)\n\t.HttpClientFactory(new DefaultHttpClientFactory())\n\t.Build();\n\nDisputeEvidenceRequest request = new DisputeEvidenceRequest()\n{\n\tProofOfDeliveryOrServiceFile = \"file_xxxxxx\",\n\tProofOfDeliveryOrServiceText = \"proof of delivery or service text\",\n\tInvoiceOrReceiptFile = \"file_xxxxxx\",\n\tInvoiceOrReceiptText = \"Copy of the invoice\",\n\tCustomerCommunicationFile = \"file_xxxxxx\",\n\tCustomerCommunicationText = \"Copy of an email exchange with the cardholder\",\n\tAdditionalEvidenceFile = \"file_xxxxxx\",\n\tAdditionalEvidenceText = \"Scanned document\"\n};\n\ntry\n{\n\tawait api.DisputesClient().PutEvidence(\"disputes_id\", request);\n}\ncatch (CheckoutApiException e)\n{\n\t// API error\n\tstring requestId = e.RequestId;\n\tvar statusCode = e.HttpStatusCode;\n\tIDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n\t// Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n\t// Invalid authorization\n}"
          },
          {
            "lang": "Java",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApi;\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.disputes.DisputeEvidenceRequest;\n\nCheckoutApi api = CheckoutSdk.defaultSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\nDisputeEvidenceRequest evidenceRequest = DisputeEvidenceRequest.builder()\n    .proofOfDeliveryOrServiceFile(\"file_id\")\n    .proofOfDeliveryOrServiceText(\"proof of delivery or service text\")\n    .invoiceOrReceiptFile(\"file_id\")\n    .invoiceOrReceiptText(\"Copy of the invoice\")\n    .invoiceShowingDistinctTransactionsFile(\"\")\n    .invoiceShowingDistinctTransactionsText(\"Copy of invoice #1244 showing two transactions\")\n    .customerCommunicationFile(\"file_id\")\n    .customerCommunicationText(\"Copy of an email exchange with the cardholder\")\n    .refundOrCancellationPolicyFile(\"file_id\")\n    .refundOrCancellationPolicyText(\"Copy of the refund policy\")\n    .recurringTransactionAgreementFile(\"file_id\")\n    .recurringTransactionAgreementText(\"Copy of the recurring transaction agreement\")\n    .additionalEvidenceFile(\"file_id\")\n    .additionalEvidenceText(\"Scanned document\")\n    .proofOfDeliveryOrServiceDateFile(\"file_id\")\n    .proofOfDeliveryOrServiceDateText(\"Copy of the customer receipt showing the merchandise was delivered on 2018-12-20\")\n    .build();\n\ntry {\n    api.disputesClient().putEvidence(\"dispute_id\", evidenceRequest).get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
          },
          {
            "lang": "Node",
            "source": "import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst evidence = await cko.disputes.provideEvidence('dsp_bc94ebda8d275i461229', {\n\tproof_of_delivery_or_service_text: 'http://checkout.com/document.pdf',\n});"
          },
          {
            "lang": "PHP",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-php\n<?php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutDefaultSdk;\nuse Checkout\\Disputes\\DisputeEvidenceRequest;\nuse Checkout\\Environment;\n\n$builder = CheckoutDefaultSdk::staticKeys();\n$builder->setPublicKey(\"public_key\");\n$builder->setSecretKey(\"secret_key\");\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\n$request = new DisputeEvidenceRequest();\n$request->proof_of_delivery_or_service_file = \"file_id\";\n$request->proof_of_delivery_or_service_text = \"proof of delivery or service text\";\n$request->invoice_or_receipt_file = \"file_id\";\n$request->invoice_or_receipt_text = \"Copy of the invoice\";\n$request->customer_communication_file = \"file_id\";\n$request->customer_communication_text = \"Copy of an email exchange with the cardholder\";\n$request->additional_evidence_file = \"file_id\";\n$request->additional_evidence_text = \"Scanned document\";\n\ntry {\n    $api->getDisputesClient()->putEvidence(\"dispute_id\", $request);\n} catch (CheckoutApiException $e) {\n    // API error\n    $request_id = $e->request_id;\n    $http_status_code = $e->http_status_code;\n    $error_details = $e->error_details;\n} catch (CheckoutArgumentException $e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
          }
        ]
      },
      "get": {
        "tags": [
          "Disputes"
        ],
        "summary": "Get dispute evidence",
        "description": "Retrieves a list of the evidence submitted in response to a specific dispute.\n",
        "operationId": "getDisputeEvidence",
        "parameters": [
          {
            "name": "dispute_id",
            "in": "path",
            "description": "The dispute identifier",
            "required": true,
            "schema": {
              "pattern": "^(dsp)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dispute evidence retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Evidence"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Dispute not found"
          }
        },
        "security": [
          {
            "ApiSecretKey": [ ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-net\n\nusing Checkout.Disputes;\n\nICheckoutApi api = CheckoutSdk.DefaultSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\ntry\n{\n    DisputeEvidenceResponse response = await api.DisputesClient().GetEvidence(\"disputes_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
          },
          {
            "lang": "Java",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApi;\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.disputes.DisputeEvidenceResponse;\n\nCheckoutApi api = CheckoutSdk.defaultSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\ntry {\n    DisputeEvidenceResponse response = api.disputesClient().getEvidence(\"dispute_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\nint statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n// Bad arguments\n} catch (CheckoutAuthorizationException e) {\n// Invalid authorization\n}"
          },
          {
            "lang": "Node",
            "source": "import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst getEvidence = await cko.disputes.getEvidence('dsp_bc94ebda8d275i461229');"
          },
          {
            "lang": "PHP",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-php\n<?php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutDefaultSdk;\nuse Checkout\\Environment;\n\n$builder = CheckoutDefaultSdk::staticKeys();\n$builder->setPublicKey(\"public_key\");\n$builder->setSecretKey(\"secret_key\");\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\ntry {\n    $response = $api->getDisputesClient()->getEvidence(\"dispute_id\");\n} catch (CheckoutApiException $e) {\n    // API error\n    $request_id = $e->request_id;\n    $http_status_code = $e->http_status_code;\n    $error_details = $e->error_details;\n} catch (CheckoutArgumentException $e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
          }
        ]
      },
      "post": {
        "tags": [
          "Disputes"
        ],
        "summary": "Submit dispute evidence",
        "description": "With this final request, you can submit the evidence that you have previously provided. Make sure you have provided all the relevant information before using this request. You will not be able to amend your evidence once you have submitted it.",
        "operationId": "submitDisputeEvidence",
        "parameters": [
          {
            "name": "dispute_id",
            "in": "path",
            "description": "The dispute identifier",
            "required": true,
            "schema": {
              "pattern": "^(dsp)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Dispute evidence submitted successfully"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Dispute not found"
          }
        },
        "security": [
          {
            "ApiSecretKey": [ ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-net\n\nICheckoutApi api = CheckoutSdk.DefaultSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\ntry\n{\n    await api.DisputesClient().SubmitEvidence(\"disputes_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
          },
          {
            "lang": "Java",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApi;\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\n\nCheckoutApi api = CheckoutSdk.defaultSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\ntry {\n    api.disputesClient().submitEvidence(\"evidence_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n// Bad arguments\n} catch (CheckoutAuthorizationException e) {\n// Invalid authorization\n}\n"
          },
          {
            "lang": "Node",
            "source": "import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst submitEvidence = await cko.disputes.submit('dsp_bc94ebda8d275i461229');"
          },
          {
            "lang": "PHP",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-php\n<?php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutDefaultSdk;\nuse Checkout\\Environment;\n\n$builder = CheckoutDefaultSdk::staticKeys();\n$builder->setPublicKey(\"public_key\");\n$builder->setSecretKey(\"secret_key\");\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\ntry {\n    $api->getDisputesClient()->submitEvidence(\"evidence_id\");\n} catch (CheckoutApiException $e) {\n    // API error\n    $request_id = $e->request_id;\n    $http_status_code = $e->http_status_code;\n    $error_details = $e->error_details;\n} catch (CheckoutArgumentException $e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}\n"
          }
        ]
      }
    },
    "/event-types": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Retrieve event types",
        "description": "Retrieve a list of event types grouped by their respective version that you can configure on your webhooks.",
        "operationId": "retrieveEventTypes",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "The API version for which you want to retrieve the event types. Set this to `1.0` for the legacy API or `2.0` for the Unified Payments API. If no version is specified, event types for both versions will be returned.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event types retrieved successfully",
            "headers": {
              "Cko-Request-Id": {
                "schema": {
                  "$ref": "#/components/headers/Cko-Request-Id"
                }
              },
              "Cko-Version": {
                "schema": {
                  "$ref": "#/components/headers/Cko-Version"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventTypesObject"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "security": [
          {
            "ApiSecretKey": [ ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Events;\n\nICheckoutApi api = CheckoutSdk.DefaultSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build(); \ntry\n{\n    /*\n     Specify API version:\n     \"1.0\" => Legacy API\n     \"2.0\" => Unified Payments API\n     null  => all versions\n     */\n                \n    IList<EventTypesResponse> response = await api.EventsClient().RetrieveAllEventTypes();\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
          },
          {
            "lang": "Java",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApi;\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.events.EventTypesResponse;\n\nCheckoutApi api = CheckoutSdk.defaultSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\ntry {\n    /*\n       Specify API version:\n        \"1.0\" => Legacy API\n        \"2.0\" => Unified Payments API\n        null  => all versions\n    */\n    List<EventTypesResponse> response = api.eventsClient().retrieveAllEventTypes(null).get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
          },
          {
            "lang": "Node",
            "source": "import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst events = await cko.events.retrieveEventTypes();"
          },
          {
            "lang": "PHP",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-php\n<?php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutDefaultSdk;\nuse Checkout\\Environment;\n\n$builder = CheckoutDefaultSdk::staticKeys();\n$builder->setPublicKey(\"public_key\");\n$builder->setSecretKey(\"secret_key\");\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\ntry {\n    /*\n       Specify API version:\n        \"1.0\" => Legacy API\n        \"2.0\" => Unified Payments API\n        null  => all versions\n    */\n    $response = $api->getEventsClient()->retrieveAllEventTypes();\n} catch (CheckoutApiException $e) {\n    // API error\n    $request_id = $e->request_id;\n    $http_status_code = $e->http_status_code;\n    $error_details = $e->error_details;\n} catch (CheckoutArgumentException $e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
          }
        ]
      }
    },
    "/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Retrieve events",
        "description": "Retrieves events based on your query parameters.\n",
        "operationId": "retrieveEvents",
        "parameters": [
          {
            "name": "payment_id",
            "in": "query",
            "schema": {
              "pattern": "^(pay)_(\\w{26})$",
              "type": "string",
              "description": "The identifier of a payment",
              "example": "pay_ok2ynq6ubn3ufmo6jsdfmdvy5q"
            }
          },
          {
            "name": "charge_id",
            "in": "query",
            "schema": {
              "pattern": "^(charge|charge_test)_(\\w{20})$",
              "type": "string",
              "description": "The identifier of a charge",
              "example": "charge_FC1919EE547L23CC6BE1"
            }
          },
          {
            "name": "track_id",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "The tracking ID of a payment",
              "example": "TRK12345"
            }
          },
          {
            "name": "reference",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "The reference of a payment",
              "example": "ORD-5023-4E89"
            }
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Set how many events you want to skip",
              "example": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Limit how many events your request returns",
              "example": 5
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Set the date and time from which you want to retrieve events",
              "format": "date-time",
              "example": "2020-11-07T04:00:00.0000000+00:00"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Set the date and time to which you want to retrieve events",
              "format": "date-time",
              "example": "2020-11-07T08:15:00.0000000+00:00"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Payment_Id"
                    },
                    {
                      "$ref": "#/components/schemas/Charge_Id"
                    }
                  ]
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable Entry",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/PaymentIdInvalidResponse"
                    },
                    {
                      "$ref": "#/components/schemas/ChargeIdInvalidResponse"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiSecretKey": [ ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Events;\n\nICheckoutApi api = CheckoutSdk.DefaultSdk().StaticKeys()\n\t.PublicKey(\"public_key\")\n\t.SecretKey(\"secret_key\")\n\t.Environment(Environment.Sandbox)\n\t.HttpClientFactory(new DefaultHttpClientFactory())\n\t.Build();\n\nRetrieveEventsRequest request = new RetrieveEventsRequest()\n{\n\tPaymentId = \"payment_id\"\n};\n\ntry\n{\n\tEventsPageResponse response = await api.EventsClient().RetrieveEvents(request);\n}\ncatch (CheckoutApiException e)\n{\n\t// API error\n\tstring requestId = e.RequestId;\n\tvar statusCode = e.HttpStatusCode;\n\tIDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n\t// Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n\t// Invalid authorization\n}"
          },
          {
            "lang": "cURL",
            "source": "curl --location --request GET 'https://api.checkout.com/broadcast/events?payment_id=pay_ok2ynq6ubn3ufmo6jsdfmdvy5q'\n  --header 'Authorization: secret_key_broadcast'"
          },
          {
            "lang": "Java",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApi;\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.events.EventsPageResponse;\nimport com.checkout.events.RetrieveEventsRequest;\n\nCheckoutApi api = CheckoutSdk.defaultSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\nRetrieveEventsRequest retrieveEventsRequest = RetrieveEventsRequest.builder()\n    .from(LocalDateTime.now().minusYears(2).toInstant(ZoneOffset.UTC))\n    .to(LocalDateTime.now().toInstant(ZoneOffset.UTC))\n    .limit(15)\n    .skip(0)\n    //.paymentId(\"payment_id\")\n    .build();\n\ntry {\n    EventsPageResponse response = api.eventsClient().retrieveEvents(retrieveEventsRequest).get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
          },
          {
            "lang": "Node",
            "source": "import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\ntry {\n\tconst events = await cko.events.retrieveEvents({\n\t\tfrom: '2019-03-01T00:00:00Z',\n\t});\n} catch (err) {\n\tconsole.log(err.name);\n}"
          },
          {
            "lang": "PHP",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-php\n<?php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutDefaultSdk;\nuse Checkout\\Disputes\\DisputesQueryFilter;\nuse Checkout\\Environment;\n\n$builder = CheckoutDefaultSdk::staticKeys();\n$builder->setPublicKey(\"public_key\");\n$builder->setSecretKey(\"secret_key\");\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\n$request = new DisputesQueryFilter();\n$request->payment_id = \"payment_id\";\n$request->charge_id = \"payment_arn\";\n$request->reference = \"reference\";\n$request->limit = 10;\n$request->skip = 5;\n$request->from = new DateTime();\n$request->to = new DateTime();\n\ntry {\n    $response = $api->getEventsClient()->retrieveEvents($request);\n} catch (CheckoutApiException $e) {\n    // API error\n    $request_id = $e->request_id;\n    $http_status_code = $e->http_status_code;\n    $error_details = $e->error_details;\n} catch (CheckoutArgumentException $e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
          }
        ]
      }
    },
    "/events/{eventId}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Retrieve event",
        "description": "Retrieves the event with the specified identifier string. The event `data` includes the full event details, the schema of which will vary based on the `type`.\n",
        "operationId": "retrieveEvent",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "The event identifier",
            "required": true,
            "schema": {
              "pattern": "^(evt)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event retrieved successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Event not found"
          }
        },
        "security": [
          {
            "ApiSecretKey": [ ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Events;\n\nICheckoutApi api = CheckoutSdk.DefaultSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\ntry\n{\n    EventResponse response = await api.EventsClient().RetrieveEvent(\"event_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
          },
          {
            "lang": "Java",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApi;\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.events.EventResponse;\n\nCheckoutApi api = CheckoutSdk.defaultSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\ntry {\n    EventResponse response = api.eventsClient().retrieveEvent(\"event_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n// Bad arguments\n} catch (CheckoutAuthorizationException e) {\n// Invalid authorization\n}"
          },
          {
            "lang": "Node",
            "source": "import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst event = await cko.events.retrieveEvent('evt_c2qelfixai2u3es3ksovngkx3e');"
          },
          {
            "lang": "PHP",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-php\n<?php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutDefaultSdk;\nuse Checkout\\Environment;\n\n$builder = CheckoutDefaultSdk::staticKeys();\n$builder->setPublicKey(\"public_key\");\n$builder->setSecretKey(\"secret_key\");\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\ntry {\n    $response = $api->getEventsClient()->retrieveEvent(\"event_id\");\n} catch (CheckoutApiException $e) {\n    // API error\n    $request_id = $e->request_id;\n    $http_status_code = $e->http_status_code;\n    $error_details = $e->error_details;\n} catch (CheckoutArgumentException $e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
          }
        ]
      }
    },
    "/events/{eventId}/notifications/{notificationId}": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "Retrieve event notification",
        "description": "Retrieves the attempts for a specific event notification",
        "operationId": "retrieveEventNotification",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "The event identifier",
            "required": true,
            "schema": {
              "pattern": "^(evt)_(\\w{26})$",
              "type": "string"
            }
          },
          {
            "name": "notificationId",
            "in": "path",
            "description": "The notification identifier",
            "required": true,
            "schema": {
              "pattern": "^(ntf)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notification retrieved successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Notification"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Event or notification not found"
          }
        },
        "security": [
          {
            "ApiSecretKey": [ ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Events;\n\nICheckoutApi api = CheckoutSdk.DefaultSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\ntry\n{\n    EventNotificationResponse response =\n        await api.EventsClient().RetrieveEventNotification(\"event_id\", \"notification_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
          },
          {
            "lang": "Java",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApi;\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.events.EventNotificationResponse;\n\nCheckoutApi api = CheckoutSdk.defaultSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\ntry {\n    EventNotificationResponse response = api.eventsClient().retrieveEventNotification(\"event_id\", \"notification_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}\n"
          },
          {
            "lang": "Node",
            "source": "import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst notification = await cko.events.retrieveEventNotification({\n\teventId: 'evt_c2qelfixai2u3es3ksovngkx3e',\n\tnotificationId: 'ntf_wqjkqpgjy33uxoywcej4fnw6qm',\n});"
          },
          {
            "lang": "PHP",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-php\n<?php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutDefaultSdk;\nuse Checkout\\Environment;\n\n$builder = CheckoutDefaultSdk::staticKeys();\n$builder->setPublicKey(\"public_key\");\n$builder->setSecretKey(\"secret_key\");\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\ntry {\n    $response = $api->getEventsClient()->retrieveEventNotification(\"event_id\", \"notification_id\");\n} catch (CheckoutApiException $e) {\n    // API error\n    $request_id = $e->request_id;\n    $http_status_code = $e->http_status_code;\n    $error_details = $e->error_details;\n} catch (CheckoutArgumentException $e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}\n"
          }
        ]
      }
    },
    "/events/{eventId}/webhooks/{webhookId}/retry": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Retry webhook",
        "description": "Retries a specific webhook notification for the given event",
        "operationId": "retryWebhook",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "The event identifier",
            "required": true,
            "schema": {
              "pattern": "^(evt)_(\\w{26})$",
              "type": "string"
            }
          },
          {
            "name": "webhookId",
            "in": "path",
            "description": "The webhook identifier",
            "required": true,
            "schema": {
              "pattern": "^(wh)_(\\w{32})$",
              "type": "string"
            },
            "example": "wh_387ac7a83a054e37ae140105429d76b5"
          }
        ],
        "responses": {
          "202": {
            "description": "Retry accepted",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Event or webhook not found"
          }
        },
        "security": [
          {
            "ApiSecretKey": [ ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-net\n\nICheckoutApi api = CheckoutSdk.DefaultSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\ntry\n{\n    await api.EventsClient().RetryWebhook(\"event_id\", \"webhook_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
          },
          {
            "lang": "Java",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApi;\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\n\nCheckoutApi api = CheckoutSdk.defaultSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\ntry {\n    api.eventsClient().retryWebhook(\"event_id\", \"webhook_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
          },
          {
            "lang": "Node",
            "source": "import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst retry = await cko.events.retry({\n\teventId: 'evt_c2qelfixai2u3es3ksovngkx3e',\n\twebhookId: 'wh_mpkyioafmajulnhjvwmrklenb4',\n});"
          },
          {
            "lang": "PHP",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-php\n<?php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutDefaultSdk;\nuse Checkout\\Environment;\n\n$builder = CheckoutDefaultSdk::staticKeys();\n$builder->setPublicKey(\"public_key\");\n$builder->setSecretKey(\"secret_key\");\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\ntry {\n    $api->getEventsClient()->retryWebhook(\"event_id\", \"webhook_id\");\n} catch (CheckoutApiException $e) {\n    // API error\n    $request_id = $e->request_id;\n    $http_status_code = $e->http_status_code;\n    $error_details = $e->error_details;\n} catch (CheckoutArgumentException $e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
          }
        ]
      }
    },
    "/events/{eventId}/webhooks/retry": {
      "post": {
        "tags": [
          "Events"
        ],
        "summary": "Retry all webhooks",
        "description": "Retries all webhook notifications configured for the specified event",
        "operationId": "retryAllWebhooks",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "description": "The event identifier",
            "required": true,
            "schema": {
              "pattern": "^(evt)_(\\w{26})$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Retry accepted",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Event or webhook not found"
          }
        },
        "security": [
          {
            "ApiSecretKey": [ ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-net\n\nICheckoutApi api = CheckoutSdk.DefaultSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\ntry\n{\n    await api.EventsClient().RetryAllWebhooks(\"event_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
          },
          {
            "lang": "Java",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApi;\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\n\nCheckoutApi api = CheckoutSdk.defaultSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\ntry {\n    api.eventsClient().retryAllWebhooks(\"event_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
          },
          {
            "lang": "Node",
            "source": "import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst retryAll = await cko.events.retryAll('evt_c2qelfixai2u3es3ksovngkx3e');"
          },
          {
            "lang": "PHP",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-php\n<?php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutDefaultSdk;\nuse Checkout\\Environment;\n\n$builder = CheckoutDefaultSdk::staticKeys();\n$builder->setPublicKey(\"public_key\");\n$builder->setSecretKey(\"secret_key\");\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\ntry {\n    $api->getEventsClient()->retryAllWebhooks(\"event_id\");\n} catch (CheckoutApiException $e) {\n    // API error\n    $request_id = $e->request_id;\n    $http_status_code = $e->http_status_code;\n    $error_details = $e->error_details;\n} catch (CheckoutArgumentException $e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
          }
        ]
      }
    },
    "/files": {
      "post": {
        "tags": [
          "Disputes"
        ],
        "summary": "Upload file",
        "description": "Upload a file to use as evidence in a dispute. Your file must be in either JPEG/JPG, PNG or PDF format, and be no larger than 4MB.",
        "operationId": "uploadFile",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/File"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileUploadResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable"
          },
          "429": {
            "description": "Too many requests"
          }
        },
        "security": [
          {
            "ApiSecretKey": [ ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Common;\n\nICheckoutApi api = CheckoutSdk.DefaultSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\ntry\n{\n    IdResponse response = await api.DisputesClient().SubmitFile(\"file_path\", \"dispute_evidence\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
          },
          {
            "lang": "Java",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApi;\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.common.FilePurpose;\nimport com.checkout.common.FileRequest;\nimport com.checkout.common.IdResponse;\nimport org.apache.http.entity.ContentType;\n\nimport java.io.File;\n\nCheckoutApi api = CheckoutSdk.defaultSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\nFile file = new File(\"evidence.pdf\");\nFileRequest fileRequest = FileRequest.builder()\n    .file(file)\n    .contentType(ContentType.create(\"application/pdf\"))\n    .purpose(FilePurpose.DISPUTE_EVIDENCE)\n    .build();\n\ntry {\n    IdResponse response = api.disputesClient().uploadFile(fileRequest).get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n// Bad arguments\n} catch (CheckoutAuthorizationException e) {\n// Invalid authorization\n}"
          },
          {
            "lang": "Node",
            "source": "import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst file = await cko.files.upload({\n\tpath: fs.createReadStream('./test/files/evidence.jpg'),\n\tpurpose: 'dispute_evidence',\n});"
          },
          {
            "lang": "PHP",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-php\n<?php\n\nuse Checkout\\CheckoutApiException;\nuse Checkout\\CheckoutArgumentException;\nuse Checkout\\CheckoutAuthorizationException;\nuse Checkout\\CheckoutDefaultSdk;\nuse Checkout\\Environment;\n\n$builder = CheckoutDefaultSdk::staticKeys();\n$builder->setPublicKey(\"public_key\");\n$builder->setSecretKey(\"secret_key\");\n$builder->setEnvironment(Environment::sandbox()); // or Environment::production()\n$api = $builder->build();\n\n$fileRequest = new FileRequest();\n$fileRequest->file = \"path/to/file\"\n$fileRequest->purpose = \"dispute_evidence\";\n\ntry {\n    $response = $api->getDisputesClient()->uploadFile($fileRequest);\n} catch (CheckoutApiException $e) {\n    // API error\n    $request_id = $e->request_id;\n    $http_status_code = $e->http_status_code;\n    $error_details = $e->error_details;\n} catch (CheckoutArgumentException $e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException $e) {\n    // Bad Invalid authorization\n}"
          }
        ]
      }
    },
    "/files/{file_id}": {
      "get": {
        "tags": [
          "Disputes"
        ],
        "summary": "Get file information",
        "description": "Retrieve information about a file that was previously uploaded.",
        "operationId": "getFileInformation",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "description": "The file identifier. It is always prefixed by `file_`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File information retrieved successfully",
            "headers": {
              "Cko-Request-Id": {
                "$ref": "#/components/headers/Cko-Request-Id"
              },
              "Cko-Version": {
                "$ref": "#/components/headers/Cko-Version"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "File not found"
          },
          "429": {
            "description": "Too many requests or duplicate request detected"
          }
        },
        "security": [
          {
            "ApiSecretKey": [ ]
          }
        ],
        "x-code-samples": [
          {
            "lang": "C#",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Files;\n\nICheckoutApi api = CheckoutSdk.DefaultSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\ntry\n{\n    FileDetailsResponse response = await api.DisputesClient().GetFileDetails(\"file_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
          },
          {
            "lang": "Java",
            "source": "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApi;\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.common.FileDetailsResponse;\n\nCheckoutApi api = CheckoutSdk.defaultSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\ntry {\n    FileDetailsResponse response = api.disputesClient().getFileDetails(\"file_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
          },
          {
            "lang": "Node",
            "source": "import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout('sk_XXXX');\n\nconst getFile = await cko.files.getFile('file_zna32sccqbwevd3ldmejtplbhu');"
          },
          {
            "lang": "PHP",
[...]
