:root {
    --R10: #FFF8F7;
    --R500: #E8220C;
    --R800: #CC4B3D;
    --G20: #E4F4F0;
    --G500: #00B48F;
    --G700: #009E7E;
    --S00: #FFFFFF;
    --S05: #E6E7EC;
    --S10: #CECFD9;
    --S20: #B6B8C6;
    --S90: #9EA0B4;
    --S100: #8688A0;
    --S300: #6D708E;
    --S500: #55587B;
    --S700: #3D4168;
    --S800: #242955;
    --S1000: #0C1142;
    --Y10: #FFFFF4;
    --Y20: #FFFFEE;
    --Y30: #FFFFE9;
    --Y40: #FFFFE3;
    --Y50: #FFFFDE;
    --Y60: #FFFFD8;
    --Y70: #FFFFD3;
    --Y80: #FFFFCE;
    --Y500: #F3C25D;
    --T10: #D5F6F8;
    --T20: #C0F2F4;
    --T40: #AAEEF1;
    --T60: #95EAED;
    --T80: #80E5E9;
    --T100: #6BE1E6;
    --T200: #55DDE2;
    --T300: #40D8DF;
    --T500: #3AB9F4;
    --B500: #0082D9;
    --P10: #F5F5FC;
    --P600: #6964B3;
    --yellow: #FAB82B;
    --note: #F3C25D;
    --information: #80E5E9;
    --tip: #70C9B7;
    --warning: #EE6D5F!important;
  }

@font-face {
    font-family: 'Graphik LCG Web';
    src: url('./fonts/Graphik-Medium-Cy-Gr-Web.woff2') format('woff2'),
         url('./fonts/Graphik-Medium-Cy-Gr-Web.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}
  
@font-face {
    font-family: 'Graphik LCG Web';
    src: url('./fonts/Graphik-RegularItalic-Cy-Gr-Web.woff2') format('woff2'),
            url('./fonts/Graphik-RegularItalic-Cy-Gr-Web.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik LCG Web';
    src: url('./fonts/Graphik-Regular-Cy-Gr-Web.woff2') format('woff2'),
            url('./fonts/Graphik-Regular-Cy-Gr-Web.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

/* Sidebar caret */
.alQnv {
    margin-right: 16px;
}

.gaLNzY {
    margin-left: 31px;
}

.llMKdK {
    padding-left: 22px;
}

.gjaIqe a:hover {
    color: #0C1142;
}
